<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.videoplatformbackend.mapper.SessionMapper">

    <resultMap id="BaseResultMap" type="com.yl.videoplatformbackend.entity.Session">
            <id property="id" column="id" />
            <result property="userid" column="userId" />
            <result property="sessionid" column="sessionId" />
            <result property="type" column="type" />
            <result property="lastmessage" column="lastMessage" />
            <result property="createtime" column="createTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,sessionId,type,lastMessage,createTime
    </sql>
</mapper>
