<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.videoplatformbackend.mapper.VideoCommentThumbMapper">

    <resultMap id="BaseResultMap" type="com.yl.videoplatformbackend.entity.VideoCommentThumb">
            <result property="id" column="id" />
            <result property="videocommentid" column="videoCommentId" />
            <result property="userid" column="userId" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,videoCommentId,userId,createTime,updateTime
    </sql>
</mapper>
